// COULEURS :
$c-grad1: #edf1f8; // #e6f0ff
$c-grad2: #6e9cf7; // #6699ff
$c-grad3: #ffffff;
$c-grad4: #a9b8d6;
$c-grad5: #bed3f4;
$c-grad6: #e9f1fc;
$clr-bg1: rgba(6, 42, 134, 0.795);
$clr1: #e6f2ff;
$clr2: #000080;
$clr3: #00004d;
$clr4: #0069cc;
$clr5: #6d94f8;
$clr6: #9eb8fa;
$clr7: #e6effe;
$shadow1: rgba(0, 0, 102, 0.091) 0px 0px 25px 15px inset;
$shadow2: rgba(0, 0, 102, 0.4) 0px 19px 38px, rgba(0, 0, 102, 0.25) 0px 15px 12px;
$shadow3: rgba(99, 122, 237, 0.3) 0px 0px 25px 15px inset;
$shadow4: -45px -55px 80px 10px #b5cdf2 inset;
$shadow5: -60px -55px 95px 10px #b5cdf2 inset;

// BREAKPOINTS : 
$small: 480px;
$width1: 768px;
$width2: 1024px;
$width3: 1224px;
$width4: 1824px;
$width5: 2560px;

// TYPO :
$ff1: "Catamaran", Helvetica, Arial, sans-serif; // texte de base
$ff2: "Dosis", Helvetica, Arial, sans-serif; // texte navbar, footer, boutons
$ff3: "Permanent Marker", Helvetica, Arial, sans-serif; // texte 'title' etc.