<div class="carousel">
    <div class="carousel-item" data-link="https://www.linkedin.com/in/zuzana-duprat/">
        <img src="../../assets/pictures/linkedin.png" alt="LinkedIn" class="imgIn"></img>
    </div>
    <div class="carousel-item" data-link="https://github.com/jamniz">
        <img src="../../assets/pictures/GitHub.png" alt="GitHub" class="git-img">
        <p class="t2">GitHub</p>
    </div>
    <div class="carousel-item" data-link="mailto:jamniz@outlook.com">
        <img src="../../assets/pictures/enveloppe.png" alt="Courriel" class="mail">
        <p class="t3">Par e-mail</p>
    </div>